:root {
    --menu-bg-color: #af322e;
    --menu-color: white;
    --body-bg-color: #fffef9;
    --body-bg-color-lighter: #ffffff;
    --body-color: #231f24;
    --accent-color: #b8b42d;
    --success-color: #425003;
    --error-color: #8C2724;
    --active-brightness: .9;
}

.equipper {
    background-color: var(--body-bg-color);
    color: var(--body-color);
    font-size: 1.2rem;
    font-family: "Arial", "Helvetica", sans-serif
}

.mainHeader {
    background-color: var(--menu-bg-color);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: var(--menu-color);
}

.mainHeader__brand {
    margin-bottom: 0.5rem;
    display: flex;
}

.brand {
    text-decoration: none; 
}

.brand:hover, .brand:active {
    text-decoration: none;
    color: inherit;
}

.brand__title {
    color: var(--menu-color);
    font-size: 3rem;
    font-family: Courier, 'Courier New', monospace; 
}

.brand__logo { 
    height: 3rem; 
    margin-right: 1rem; 
}

.mainHeader__stravaLink {
    display: inline-block;
    width: 12rem;
}

.section {
    margin-top: 1rem;
    display: none;
}

@media(min-width: 576px) {
    .section {
        border-left-color: var(--body-color);
        border-left-style: solid;
        border-left-width: 0.25rem;
    }

    .section--success {
        border-left-color: var(--success-color);
    }

    .section--error {
        border-left-color:  var(--error-color);
    }
}

.section--success {
    color: var(--success-color);
    animation-duration: 1.5s;
    animation-name: section-fade-in;
}

.section--error {
    color: var(--error-color);
    animation-duration: 1.5s;
    animation-name: section-fade-in;
}

.section__header {
    font-weight: bold;
}

.section__subheader {
    font-size: 1.3rem;
    font-weight: bold;
}

.loginList {
    list-style-type: none;
    padding-inline-start: 10px;
}

.loginList__item {
    margin-bottom: 10px;
    min-width: 250px;
    text-align: left;
}

.eq-btn {
    color: var(--body-color);
    background-color: var(--body-bg-color-lighter);
    border-color: var(--body-color);
}

.eq-btn:hover, .eq-btn:active {
    color: inherit;
    filter: brightness(var(--active-brightness))
}

.eq-btn img {
    width: 24px;
    margin-right: 12px;
}

#authSuccessSection {
    display: none;
}

#authErrorSection {
    display: none;
}

#userInfoSection {
    display: none;
}

@keyframes section-fade-in {
    from {
        opacity: 0%;
        margin-top: 5rem;
    }

    to {
        opacity: 100%;
        margin-top: 1rem;
    }
}